BEGIN;
SELECT setval(pg_get_serial_sequence('"ecd_app_child"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "ecd_app_child";
SELECT setval(pg_get_serial_sequence('"ecd_app_milestone"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "ecd_app_milestone";
SELECT setval(pg_get_serial_sequence('"ecd_app_elibrary"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "ecd_app_elibrary";
SELECT setval(pg_get_serial_sequence('"ecd_app_activity"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "ecd_app_activity";
SELECT setval(pg_get_serial_sequence('"ecd_app_progressreport_milestone_completed"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "ecd_app_progressreport_milestone_completed";
SELECT setval(pg_get_serial_sequence('"ecd_app_progressreport"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "ecd_app_progressreport";
SELECT setval(pg_get_serial_sequence('"ecd_app_userprofile"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "ecd_app_userprofile";
SELECT setval(pg_get_serial_sequence('"ecd_app_followupmessage"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "ecd_app_followupmessage";
SELECT setval(pg_get_serial_sequence('"auth_permission"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_permission";
SELECT setval(pg_get_serial_sequence('"auth_group_permissions"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_group_permissions";
SELECT setval(pg_get_serial_sequence('"auth_group"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_group";
SELECT setval(pg_get_serial_sequence('"auth_user_groups"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_user_groups";
SELECT setval(pg_get_serial_sequence('"auth_user_user_permissions"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_user_user_permissions";
SELECT setval(pg_get_serial_sequence('"auth_user"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_user";
SELECT setval(pg_get_serial_sequence('"django_admin_log"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "django_admin_log";
COMMIT;
