# =====================
# Django
# =====================
__pycache__/
*.pyc
db.sqlite3
.env
venv/
.pytest_cache/
.ruff_cache/
coverage/
htmlcov/
logs/
staticfiles/
media/
backups/

# =====================
# React
# =====================
node_modules/
build/
.env
ecd_frontend/build/
